# pylint config
[FORMAT]
good-names=s,r,e
[MESSAGES CONTROL]
disable=fixme,
        consider-using-f-string,
        line-too-long,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        too-many-instance-attributes,
        too-many-arguments,
        too-many-branches,
        too-many-locals,
        too-many-statements
